body {
    font-family: "Arial", sans-serif;
}

#page {
    width: 1200px;
    margin: auto;
}

#card {
    max-width: 20%;
    height: auto;
}

button {
    margin: 10px 0;
    background-color: #4CAF50; /* green */
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}